@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="./Advertisements/Index">Ad List Retrieval Method</a>
    <a asp-page="./Advertisements/Create">Ad creation method</a>
</div>
